* {
    margin: 0;
    padding: 0;
}
.icon img, .icon{
    height: 24px;
}

.school {
    width: 100%;
}

.training {
    text-align: center;
    padding: 20px;
    font-size: 2em;
}

.globalteacher{
    display: flex;
    justify-content: space-around;
}

.texte {
    margin: 2rem;
}

.logo{
    width: 150px;
}

.teacher{
    width: 170px;
}

.globalteacher > div > p {
    text-align: center;
@font-face {
    font-family: "comfortaa";
    src: url(./fonts/Comfortaa-VariableFont_wght.ttf);
}
body{
    font-family: comfortaa;
}
.trombi{
    display: grid;
    gap : 2rem;
    grid-template-columns: 1fr 1fr;
    /*grid-template-rows: 1fr 1fr 1fr 1fr;*/
}
.trombi>div{
    display : flex;
    flex-direction: column;
    align-items: center;
    gap : 20px;
}
.icon{
    width: 24px;
}
.student{
    width: 170px;
}
.iconstrombi{
    display: flex;
    gap : 2rem;
}

@media screen and (min-width : 450px){
    .trombi{
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }
}